version: '3.9'

services:
  app:
    build: .
    image: cs20252:latest
    environment:
      AWS_REGION: ${AWS_REGION:-us-east-1}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      DYNAMODB_TABLE_NAME: ${DYNAMODB_TABLE_NAME:-Client}
      NODE_ENV: production
    ports:
      - "3000:3000"
    command: npm run start